<h1>About Brogress</h1>
<p>
Brogress is made by <a href='http://gonglexin.com/'>@gonglexin</a>,
it's a digital bookmarks.
</p>
<p>
Since it's a personal product and I don't have a plan to support old browsers, make sure you are using a morden browser to get a better feeling.
</p>

<p>
Without things below, I can't made it. Thanks to:
<ul>
  <li><a href='http://rubyonrails.org/'>Ruby on Rails</a></li>
  <li>Mysql</li>
  <li><a href='http://www.apple.com/'>Mac</a></li>
  <li>Vim</li>
</ul>
</p>

Wanna try it?
<%= link_to 'Login', login_path %> or <%= link_to 'Register', register_path %>

