// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-family: 'Galdeano', sans-serif;

body {
  margin: 0px;
  font-family: $font-family;
  font-size: 20px;
}

/*a {*/
  /*color: blue;*/

  /*&:hover {*/
    /*color: black;*/
  /*}*/
/*}*/

input {
  font-family: $font-family;
  font-size: 20px;
}

#header {
  height: 20px;
  padding: 10px 40px 10px 40px;
  background-color: #fdfddd;
  border-bottom: 1px solid;
  border-color: #ccc;

  span {
    float: right;
  }
}

#main {
  margin: 0 40px;
  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }

  input[type='text'], input[type='email'], input[type='password'] {

    &:disabled {
      background-color: #eeeeee; 
    }
  }

  input[type='submit'], input[type='button'] {
    /*button style here*/
  }

  #notice, #error_explanation {
    list-style-type: none;
    background-color: #fdfddd;
    padding: 10px 40px 10px 10px;
    border: 1px solid;
    border-color: #ccc;
    margin: 10 0 10px 0;
  }
}

#footer {
  margin-top: 1em;
  border-top: 1px dashed #CCC;

  p {
    color: #999;
  }
}
