// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-family: 'Galdeano', sans-serif;

.container {
  margin: 0 auto;
  width: 980px;
  padding: 0 10px;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

a {
  text-decoration: none;
  color: #069;
}

body {
  font-family: $font-family;
}
input, textarea {
  font-family: $font-family;
}

#header {
  background-color: #fdfddd;
  padding: 6px 0;
  border-bottom: 1px solid;
  border-color: #ccc;

  #controls > div{
    float: left;
    ul{
      list-style: none;
      margin: 0;
      li {
        float: left;
      }
    }
  }
}

#main {
  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }

  #notice {
    list-style: none;
    background-color: #fdfddd;
    padding: 10px 0 10px 10px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #ccc;
  }

  #error_explanation {
    list-style: none;
    background-color: #fdfddd;
    padding: 4px 0 4px 10px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #ccc;
    margin-bottom: 10px;
  }
}

#footer {
  margin-top: 10px;
  border-top: 1px dashed #ccc;
  color: #999;
}
