// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-family: 'Galdeano', sans-serif;

body {
  margin: 0px;
  font-family: $font-family;
  font-size: 20px;
}

.clear {
  clear: both;
}

/*a {*/
  /*color: blue;*/

  /*&:hover {*/
    /*color: black;*/
  /*}*/
/*}*/

input, textarea {
  font-family: $font-family;
  font-size: 20px;
}

input[type='text'], input[type='email'], input[type='password'] {

  &:disabled {
    background-color: #eeeeee; 
  }
}

input[type='submit'], input[type='button'] {
  /*button style here*/
}

input[type='url'] {
  &:invalid {
    /*border-color: red;*/
  }
}

#header {
  height: 20px;
  padding: 10px 40px 10px 40px;
  background-color: #fdfddd;
  border-bottom: 1px solid;
  border-color: #ccc;

  div {
    float: left;
    ul {
      margin: 0 0 0 4px;
      li {
        list-style-type: none;
        padding: 0 4px;
        float: left;
      }
    }
  }
  #control {
    float: right;
  }
}

#main {
  padding: 10px 40px;
  div {
    &.field, &.actions {
      margin-bottom: 10px;
    }
  }

  #notice, #error_explanation {
    list-style-type: none;
    background-color: #fdfddd;
    padding: 10px 40px 10px 10px;
    border: 1px solid;
    border-radius: 4px;
    border-color: #ccc;
    margin: 10px 0 40px 0;
  }

  #notice {
    text-align: center;
  }
}

#footer {
  margin-top: 1em;
  border-top: 1px dashed #ccc;

  p {
    color: #999;
  }
}
