<div id='footer'>
  <p>
    &copy; 2013 by <a href="http://gonglexin.com">@gonglexin</a>,
     follow on <a href="https://twitter.com/gonglexin">twitter</a>
                <a href="https://github.com/gonglexin">github</a>
    | <a href="/about">about</a>
    | <a href="/help">help</a>
    | <a href="#">blog</a>
  </p>
</div>
